.contact {max-width: 1080px;
    width: 100%;
    margin: 0 auto 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;}

.contact_title {width: 335px;
    height: 93px;
    font-size: 4rem;
    color: grey;
    font-family: 'Lora', serif;}

.contact_field {max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 43px;}

.contact_list {max-width: 940px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;}

.contact_item {max-width: 440px;
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px black solid;
    text-align: left;
    vertical-align: text-top;
    font-weight: 600;
    color: black;}

.contact_message {max-width: 938px;
    width: 100%;
    height: 90px;
    color: #565656;
    margin: 0 auto;
    text-align: left;}

.contact_button {width: 440px;
    height: 50px;
    margin: 0 auto 25px;
    background-color: var(--blue_color);
    color: white;
    font-size: 1.5rem;
    padding: auto;
    border: none;}

@media screen and (max-width: 992px) {
    .contact {width: 770px;
        margin: 0 auto 60px;}
    .contact_title {width: 200px;
        height: 50px;
        font-size: 1.5rem;}
    .contact_field {width: 770px;
        gap: 25px;}
    .contact_list {width: 760px;
        justify-content: space-between;}
    .contact_item {width: 350px;}
    .contact_message {width: 700px;
        height: 75px;}
    .contact_button {width: 250px;
        height: 40px;
        font-size: 1rem;}
}

@media screen and (max-width: 768px) {
    .contact {max-width: 360px;
        margin: 0 auto;}
    .contact_title {width: 105px;
        height: 30px;
        font-weight: bold;
        font-size: 1.25rem;
        margin: 0 auto;}
    .contact_field {width: 360px;
        gap: 30px;}
    .contact_list {width: 326px;
        margin: 0 auto;
        gap: 16px;}
    .contact_item {width: 154px;
        height: 30px;
        color: #565656;
        border-bottom: 1px solid #717171;}
    .contact_item-wide {width: 326px;}
    .contact_message {width: 326px;
        height: 60px;
        padding-left: 10px;}
    .contact_button {width: 156px;
        height: 26px;
        margin: 0 auto 30px;
        font-size: 13px;}
}