.events {max-width: 1300px;
    width: 100%;
    margin: 0 auto 100px;
    background-color: white;
    text-align: center;}

.events_title {width: 342px;
    height: 93px;
    font-family: 'Lora', serif;
    font-size: 4rem;
    color: #888888;
    font-weight: bold;
    text-shadow: 0 3px currentColor;
    text-align: center;
    margin: 0 auto 25px;}

.events_list {max-width: 1300px;
    width: 100%;
    margin: 0 auto 20px;
    display: flex;
    gap: 20px;}

.events_item {width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    position: relative;}

.events_block-date {width: 130px;
    height: 130px;
    text-align: center;
    padding: 30px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;}
.events_date {font-size: 2.5rem;}
.events_month {font-size: 1.25rem;}

.events_name {text-align: center;
    color: black;
    font-size: 1.25rem;
    line-height: 153%;}

.events_location {text-align: center;
    color: black;
    text-transform: uppercase;
    margin-top: 10px;}

.events_button {width: 229px;
    height: 49px;
    margin: 0 auto;
    background-color: var(--blue_color);
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;}

@media screen and (max-width: 1320px) {
    .events_list {max-width: 990px;}
    .events_item {width: 310px;
        gap: 10px;}
    .events_block-date {width: 95px;
        height: 95px;
        padding: 25px;}
    .events_date {font-size: 1.75rem;}
    .events_month {font-size: .95rem;}
    .events_name {margin-top: 10px;}
    .events_location {margin-top: -5px;}
}

@media screen and (max-width: 992px) {
    .events_list {flex-direction: column;
    align-items: center;}
    .events_item {width: 420px;
    gap: 30px;}

}

@media screen and (max-width: 768px) {
    .events {max-width: 326px;
        margin-bottom: 50px;}
    .events_title {width: 107px;
        height: 29px;
        font-size: 1.25rem;
        text-shadow: none;}
    .events_item {width: 326px;}
    .events_closed {display: none;}
    .events_block-date {width: 70px;
        height: 70px;
        padding: 15px;}
    .events_date{font-size: 18px;}
    .events_month {font-size: 14px;}
    .events_name {font-size: 1rem;}
    .events_location {font-size: 14px;}
    .events_button {width: 156px;
        height: 36px;
        font-size: 13px;}
}
