* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.menu {
  height: 100vh;
  width: 300px;
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

body:has(.menu-toogle:checked) {
  .menu {
    left: 0px;
  }
}

.user img, .user-info {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px;
}

.user-info h3 {color: #2f54eb;}

.user-info p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
}

/* строка разделитель перед основным меню*/
.user::after {
  content: "";
  display: block;
  height: 2px;
  width: ;
  background-color: #f6f6f6;
  margin: 24px 0px;
}

.menu {
  ul {
    list-style-type: none;
  }
  span img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  li {
    margin: 10px 0px;
  }
  li span {
    padding: 10px;
    display: block;
    border-radius: 8px;
  }
  li:hover > span {
    background-color: #f0f5ff;
  }
  li > ul {
    display: none;
    margin-left: 40px;
  }
  li:hover > ul {
    display: block;
  }
}

/*
.menu {
  position: absolute;
  left: -300px;
}*/

.additional {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 40px);
}

.logout {
  color: #ff0a00;
}

.menu-toogle {
    all: unset;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
  border: 1px solid #f6f6f6;
}

.menu-toogle::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  content: url(icons/hamburger.svg);
}

.menu-toogle:checked::after {content: url(icons/close.svg);}
