* {margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {background-color: #f5f5f5;
    padding: 32px;}

.card {background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    max-width: 500px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 15px;
    transition: .3s;}

.card:hover {transform: scale(1.05);}

.favorites {float: right;
    font-size: 1.5em;
    cursor: pointer;}

.card img {width: 100%;
    border-radius: 10px;}

.card h2 {margin-top: 30px;
    width: 80%;}

.card p {margin-top: 20px;
    width: 90%;}

.price {}

.real-price {color: darkblue;
    font-size: 24px;
    font-weight: bold;}

.ruble-sign {color: darkblue;
    font-size: 24px;}

.old-price {color: #e74c3c;
    text-decoration: line-through;
    margin-left: 10px;}

.add-to-cart {color: white;
    font-weight: bold;
    background: linear-gradient(45deg,#3498db, #2ecc71);
    border-radius: 5px;
    transition: .3s;
    padding: 10px 20px;
    border: none;
    cursor: pointer;}

button:hover {opacity: .8;}

